.title{
    font-family: sans-serif;
    color: #a4f52a;
    text-align: left;
}
.title:hover{
    animation: spin 1s linear infinite;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.tabContainer{
    width: 100%;
    height: 100%;
}
.imageContainer{
    display: flex;
    background-color: green;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 20px;
}
.imageContainer div{
    background-color: #f1f1f1;
    font-size: 24px;
}
.imageContainer img{
    height: 100%;
    width: auto;
    object-fit: contain;
    border-radius: 8px;
    min-height: 100px;
    max-height: 200px;
}
.imageContainer img:hover{
    transform: scale(1.2);
}


.tabContainer .buttonContainer{
    height: 70px;
}
.tabContainer .buttonContainer button{
    width: 25%;
    height: 100%;
    float: left;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    color: #a4f52a;
    background-color: #238500;
}
.tabContainer .buttonContainer button:hover{
    background-color: #238500;
}
.tabContainer .tabPanel{
    height: 100%;
    background-color: #238500;
    color: #1a4501;
    text-align: start;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    display: none;
}

li {
    margin-bottom: 10px;
    padding: 3px;
}
input {
    padding: 50px;

}